* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #030f0f;
  color: #ffffff;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #000000;
  padding: 20px 0;
}


.contact-btn {
  background-color: #00bfff;
  color: #030f0f;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
  transition: background 0.3s ease;
}

.contact-btn:hover {
  background-color: #03b66c;
}

.hero {
  text-align: center;
  padding: 80px 0;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #ffffff;
}

.hero p {
  color: #dddddd;
  font-size: 18px;
}

.offers {
  padding: 60px 0;
  background-color: #03624c;
}

.offers h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
}



.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.card {
  background-color: #030f0f;
  border: 2px solid #00df82;
  padding: 40px;
  border-radius: 20px;
  color: white;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-20px) !important;
  box-shadow: 0 20px 40px rgba(0, 223, 130, 0.35);
}

.card h3 {
  color: #00df82;
  margin-bottom: 10px;
}


.choice-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.choice {
  background-color: #00df82;
  color: #030f0f;
  padding: 20px 40px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 10px #00df82;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.choice:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #00df82;
}


.section-title {
  text-align: center;
}


@keyframes fadeInUp {
  from {
    opacity: 0; 
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card.fade-in {
  animation: fadeInUp 0.5s ease forwards;
}
