.blog-hero {
  text-align: center;
  background-color: #030f0f;
  padding: 40px 0 20px 0;  
}

.blog-hero img {
  width: 100%;
  max-height: 500px;
  object-fit: contain; 
  display: block;
  margin: 0 auto;
}

.blog-content {
  max-width: 1000px;
  margin: 40px auto;
  line-height: 1.7;
  color: #ffffff;
}

.blog-content h1 {
  font-size: 2.0rem;
  margin-bottom: 20px;
  color: #00df82;
}

.blog-content h2 {
  font-size: 1.6rem;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #00cfff;
}

.blog-content p {
  margin-bottom: 30px;
  font-size: 1.05rem;
  text-indent: 1em;     
  margin: 0;            
  line-height: 1.6;      
  text-align: justify;   
}

.blog-list {
  padding: 60px 20px;
  text-align: center;
}

.blog-list h1 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #ffffff;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.blog-card {
  background-color: #051a1a;
  border-radius: 16px;
  overflow: hidden;
  text-decoration: none;
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.blog-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 20px rgba(0,0,0,0.5);
}

.blog-image {
  height: 230px;
  overflow: hidden;
}

.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.blog-cardcontent {
  display: flex;
  flex-direction: column;
  height: 60%;
  padding: 5px;
}

.blog-cardcontent h2 {
  font-size: 1.2rem;
  margin-top: 5px;
  color: #00df82;
}

.blog-meta {
  font-size: 0.8rem;
  color: #888;
  margin-bottom: 8px;
}

.blog-cardcontent p {
  font-size: 0.95rem;
  color: #cccccc;
  margin: 10px;
  line-height: 1.5;
  flex-grow: 1;
}

.read-more {
  display: inline-block;
  margin-bottom: 10px;
  color: #00df82;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.read-more:hover {
  color: #00cfff;
}


