body {
  background-color: #010c0c;
}


.contact-info {
  background-color: #030f0f;
  color: white;
  padding: 80px 0;
  text-align: center;
}

.contact-info h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 40px;
}

.contact-list {
  list-style: none;
  padding-left: 0;
  font-size: 18px;
  line-height: 2;
}

.contact-list a {
  color: #00df82;
  text-decoration: none;
}

.contact-list a:hover {
  text-decoration: underline;
}

