header {
  background-color: #000;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #00bfff;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s ease;
}
.logo:hover {
  color: #00df82;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;

}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;

}
nav ul li a:hover {
  color: #00df82;
}

footer {
  background-color: #000;
  padding: 30px 0;
  color: #00df82;
  margin-top: 80px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer nav a {
  color: #00df82;
  margin-left: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}
footer nav a:hover {
  color: #fff;
}

.footer-info {
  display: flex;
  text-decoration: none;
  list-style: none;
  flex-direction: column;
  text-align: right;
}

.copyright {
  color: #ccc;
}
