.portfolio-intro {
  text-align: center;
  padding: 100px 0 60px;
}

.portfolio-title {
  font-size: 42px;
  margin-bottom: 20px;
  color: #ffffff;
}

.portfolio-title2 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #ffffff;
}

.portfolio-sub {
  max-width: 700px;
  margin: 0 auto 40px;
  font-size: 18px;
  color: #cccccc;
}

.portfolio-grid {
  padding: 80px 0;
}

.project-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 80px;
  gap: 40px;
}

.project-row.reverse {
  flex-direction: row-reverse;
}

.project-img {
  flex: 1 1 40%;
  height: 280px;
  background-color: #e4dede;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 223, 130, 0.1);
}

.placeholder {
  background-image: repeating-linear-gradient(
    45deg,
    #ffcc00,
    #ffcc00 10px,
    #111 10px,
    #111 20px
  );
  cursor: not-allowed;
  filter: grayscale(0.3);
}

.placeholder::before {
  content: "⚠️ W budowie";
  justify-content:right;
  position: absolute;
  color: #111;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  transform: translateY(0);
  animation: fadeInOverlay 0.8s ease-out both;
}

@keyframes fadeInOverlay {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.project-text {
  flex: 1 1 50%;
  color: #dddddd;
}

.project-text h3 {
  font-size: 24px;
  color: #00df82;
  margin-bottom: 10px;
}

.project-text p {
  font-size: 18px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .project-row,
  .project-row.reverse {
    flex-direction: column;
  }

  .project-img,
  .project-text {
    flex: 1 1 100%;
  }

  .project-img {
    height: 200px;
  }
}

.highlight {
  color: #00df82;
  font-weight: 600;
}

.end-btn {
  display: inline-block;
  background: #00bfff;
  color: #030f0f;
  padding: 16px 36px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 30px 0 30px 0;
  text-decoration: none;
  box-shadow: 0 0 20px rgba(0, 191, 255, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.end-btn:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 191, 255, 0.6);
}